<%= javascript 'views/home/index.js' %>



<div class="content">
  <div class="column-left">        
		<p>This is an example of a heavily modified layout. Using this one is probably not advisable.</p>
		
		<div class="get-started">
			<h2>Get Started Now! <span class="fa fa-arrow-right"></span></h2>
		</div>
  </div>
	
  <div class="column-right">
    <%= render partial: 'shared/signin' %>
  </div>
</div>
