/* HOME PAGE */
/* ------------------------------------------------ */
#home {
  background-color: $body-background;
	
	p {
		color: $primary-color;
		font-size: 18px;
	}
	.tabs li a {
		border-left-color: $primary-color;
		border-top-color: $primary-color;
		border-right-color: $primary-color;
	}
	.tab-panel { background-color: $white; }
}


header, #notification-area, main, footer {
	max-width: 1061px;
	margin-left: auto;
	margin-right: auto;
}
div.roadmap header { 
	position: relative; 
	background-color: $body-background;
	
	.header-left .home-logo { 
		margin-right: 2px; 
		vertical-align: bottom;
	}
	
	.header-right .org-branding { height: 55%; }
	
	.header-right .main-nav {
		margin-top: 0;
		
		ul.nav li { 
			padding: 4px 15px; 
			background-color: $medium-grey;
			border: none;
			border-bottom: 1px solid $primary_color;
		}
		ul.nav li.active {
			background-color: $primary-color;

			a:link, a:focus, a:visited {
				color: $white;
			}
		} 
	}
}
div.roadmap header .signin-signout-menu {
	position: relative;
	float: right;
	top: -145px;
}