/* HOME PAGE */
/* ------------------------------------------------ */
div.roadmap main div.page div.content {
	p {
		color: $primary-color;
		font-size: 18px;
	}
	.tabs li a {
		border-left-color: $primary-color;
		border-top-color: $primary-color;
		border-right-color: $primary-color;
	}
	.tab-panel { background-color: $white; }
	
	.column-right {
		position: absolute;
		top: -165px;
		right: 35px;
	}
	.column-left { 
		position: absolute;
		top: -45px;
		
		.get-started {
			position: absolute;
			top: -125px;
			right: 35px;
			
			vertical-align: top;
			
			.fa {
				color: $primary-color;
				font-size: 2em;
				padding-left: 20px;
				padding-top: 25px;
			}
		}
	}
}


header, #notification-area, main, footer {
	max-width: 1061px;
	margin-left: auto;
	margin-right: auto;
}
div.roadmap header { 
	height: 100%;
	.header-left .home-logo { 
		margin-right: 2px; 
		vertical-align: bottom;
	}
	.header-left .roadmap-logo {
		margin-top: 0;
	}
	
	.header-right {
		vertical-align: top;
	
		h1 { width: 75%; }
	
		.main-nav {
			margin-top: 0;
		
			ul.nav li { 
				padding: 4px 15px; 
				background-color: $medium-grey;
				border: none;
				border-bottom: 1px solid $primary_color;
			}
			ul.nav li.active {
				background-color: $primary-color;

				a:link, a:focus, a:visited {
					color: $white;
				}
			} 
		}
	}
}
footer {
  background-image: url("rainbow_wave_long.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}